{% extends 'base.html' %}
{% block content %}

    <div class="container mt-5">
        <h2>My Orders</h2>
        <div class="row">
            {% if orders %}
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th>Order Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.product.name }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>${{ order.price }}</td>
                                    <td>${{
                                    order.total_price }}</td>
                                    <td>{{
                                    order.date
                                    }}</td>
                                    <td>{{ order.status|yesno:"Completed,Pending" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="col-12">
                    <p>You have no orders.</p>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}